@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* CSS reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CSS reset */

:root {
  --mainColor: #0B2447;
  --secondaryColor: #19376D;
  --lightBlue: #A5D7E8;
  font-family: 'Orbitron', sans-serif;

}

body {
  background-color: var(--mainColor);
  color: var(--lightBlue)
}

.hoverwrap img {
  height: 20rem;
  width: auto;
  border-radius: 5px;
  border: black dashed 5px;
}

.hoverwrap {
  position: relative;
  width: fit-content;
  padding: 0;
  height: 20rem;
  overflow: hidden;
  margin-bottom: 3rem;
}

.hoverwrap .hovercap {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0 0 5px 5px;
  text-align: center;
  opacity: 0;
  transition: all ease-in-out 0.2s;
}

.hoverwrap:hover .hovercap {
  opacity: 1;
  bottom: 0;
}

header {
  background-color: black;
}

header h1 {
  text-align: center;
  font-size: 50px;
  animation: fade 2s;

}

.school {
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: var(--mainColor);
}

.school:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.3s;
  box-shadow: 10px 10px;
}

.personal-data-list li {
  margin-bottom: 1rem;
  list-style-type: circle;
}

a {
  color: inherit;
}

.personal-data {
  border-bottom: black dashed 5px;
}

h1 {
  padding-bottom: 2rem;
}

.studies {
  background-color: #19376D;
}

.schools {
  list-style: none;
}

.technologies {
  background-color: var(--lightBlue);
  color: black;
}

.logos {
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.technologies li {
  list-style-image: url('/images/rocket_20x20.png');
}

.technologies li::marker {
  font-size: 1.rem;
}

/* logos  and grow animation on scroll */
.logo {
  height: 100px;
  transform: scale(0.3);
  transition: all ease-in-out 0.5s;
}

.scroll-animation {
  transform: scale(1);
}

/* logos  and grow animation on scroll */

.my-projects {
  background-color: var(--secondaryColor);
}

.flex-column {
  flex-direction: column;
}

.my-projects a {
  margin-bottom: 2rem;
  background-color: var(--lightBlue);
  color: black;
  padding: 1rem;
  text-align: center;
  transition: all ease-in-out 0.3s;
  text-decoration: none;
}

.my-projects a:hover {
  transform: scale(1.3);
  box-shadow: 10px 10px 10px;
}

footer {
  background-color: black;
  color: var(--lightBlue);
  padding: 3px;
}

/* Media Queries */
@media screen and (max-width: 750px) {

  .personal-data .flex,
  .technologies .flex {
    flex-direction: column;
    align-items: center;
  }
}

/* Media Queries */

/* Animations */
@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Animations */

/*utility classes*/
.container {
  padding: 3rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

/*utility classes*/